{% extends 'base.html' %}


{% block content %}

<h1>Hola Mundo!</h1>

<h3>This is our News Letter Web App</h3>
<div class="row">
    <div class="col-sm-3">
        <div class="card" style="width: 18rem;">
            <img src="https://images.pexels.com/photos/806908/pexels-photo-806908.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Black & White</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/1309687/pexels-photo-1309687.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Black & White</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/169978/pexels-photo-169978.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Black & White</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/806908/pexels-photo-806908.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Black & White</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
</div>

{% endblock %}